//stewardshipped-jsd.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.72d3b136-9a1a-4aec-afa7-a4c69cfa4222/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@legal-document-analysis:registry=https://stewardshipped-jsd.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.72d3b136-9a1a-4aec-afa7-a4c69cfa4222/contents/release/npm/
