.react-dropdown-tree-select .dropdown .dropdown-trigger {
  display: none;
}
.react-dropdown-tree-select .dropdown .dropdown-content {
  background-color: inherit;
  border: 0;
  box-shadow: inherit;
}
.infinite-scroll-component > .node {
  padding: 4px 0;
} 
.toggle:after {
  font-size: 1.1rem;
}
.toggle {
  font-style: normal;
}