#fileTree {
  position: relative;
}
#fileTree .p-component {
  font-size: .9rem;
}
#fileTree .p-tree {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
}
#fileTree .p-treenode-content {
  padding: 0;
}
#fileTree .p-highlight {
  color: inherit;
  background: inherit;
  outline: 0;
  border: 0;
  outline-color: transparent;
}
.p-tree .p-tree-container .p-treenode:focus > .p-treenode-content {
  box-shadow: inherit;
}
#fileTree .folder {
  gap: 4px;
  align-items: center;
  display: flex;
  position: relative;
  width:100%;
}
#fileTree .folder .close {
  position: absolute;
  right: -3px;
}
#fileTree .folder .close:hover {
  display: block;
}

#addFolder {
  position: absolute;
  top: 10px;
  right: 0;  
  cursor: pointer;
}
#fileTree .p-tree-header {
  width: calc(100% - 50px);  
}
#fileTree .edit-folder {
  background: transparent;
  color: inherit;
  padding: 3px;
  border-radius: 5px;
  width: 75%;
}
#fileTree .p-tree .p-tree-filter-container {
  visibility: hidden;
}